build==1.2.2.post1
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
idna==3.10
packaging==24.1
parsimonious==0.10.0
PyJWT==2.9.0
pyproject_hooks==1.2.0
regex==2024.9.11
requests==2.32.3
setuptools==75.2.0
singlestoredb==1.7.2
sqlparams==6.1.0
urllib3==2.2.3
wheel==0.44.0
flask==3.0.3
flask_cors==5.0.0